<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-signin my-5">
        <div class="card-header">Flight Search</div>
        <form
          class="form-signin"
          [formGroup]="flightFormGroup"
          (ngSubmit)="onFlightSubmit()"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="form-check-inline">
                  <input
                    id="oneway"
                    type="radio"
                    value="1"
                    name="journeyType"
                    formControlName="journeyType"
                    tabindex="0"
                    class="form-check-input"
                    (change)="changeJourneyType($event)"
                  />
                  <label for="oneway" class="form-check-label">One Way</label>
                </div>
                <div class="form-check-inline">
                  <input
                    id="roundtrip"
                    type="radio"
                    value="2"
                    name="journeyType"
                    formControlName="journeyType"
                    tabindex="1"
                    class="form-check-input"
                    (change)="changeJourneyType($event)"
                  />
                  <label for="roundtrip" class="form-check-label"
                    >Round Trip</label
                  >
                </div>
                <div class="form-check-inline">
                  <input
                    id="multicity"
                    type="radio"
                    value="3"
                    name="journeyType"
                    formControlName="journeyType"
                    tabindex="2"
                    class="form-check-input"
                    (change)="changeJourneyType($event)"
                  />
                  <label for="multicity" class="form-check-label"
                    >Multi city</label
                  >
                </div>
              </div>
            </div>
            <div formArrayName="city">
              <div                
                *ngFor="let group of cityArray.controls; let i = index"
                [formGroupName]="i"
              >                
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="flyingFrom" class="form-label"
                        >Flying From</label
                      >
                      <input
                        id="flyingFrom"
                        name="flyingFrom"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        formControlName="flyingFrom"
                        tabindex="3"
                        trimmed
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="flyingTo" class="form-label">Flying To</label>
                      <input
                        id="flyingTo"
                        name="flyingTo"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        formControlName="flyingTo"
                        tabindex="4"
                        trimmed
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="departureDate" class="form-label"
                        >Departure Date</label
                      >
                      <p-calendar
                        id="departureDate"
                        name="departureDate"
                        placeholder="MM-DD-YYYY"
                        formControlName="departureDate"
                        dateFormat="mm-dd-yy"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1900:2100"
                        [showIcon]="true"
                        [tabindex]="5"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="isRoundTrip">
                    <div class="form-group">
                      <label for="returnDate" class="form-label"
                        >Return Date</label
                      >
                      <p-calendar
                        id="returnDate"
                        name="returnDate"
                        placeholder="MM-DD-YYYY"
                        formControlName="returnDate"
                        dateFormat="mm-dd-yy"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1900:2100"
                        [showIcon]="true"
                        [tabindex]="6"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="col-md-1" style="margin-top: 36px;" *ngIf="cityArray.length > 1 && i > 0 && isMultiCity">
                    <button type="button" (click)="removeCity(i)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>                
              </div>
            </div>
            <div class="row" *ngIf="isMultiCity">
              <div class="col-md-12 mb-3">
                <button type="button" (click)="addCity()">
                  <i class="fa fa-plus" aria-hidden="true"> Add City</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="noOfAdult" class="form-label"
                    >Adults (12+ Yrs)</label
                  >
                  <input
                    id="noOfAdult"
                    name="noOfAdult"
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    formControlName="noOfAdult"
                    tabindex="7"
                    trimmed
                  />
                </div>
              </div>
              <div class="col-sm-9 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="noOfChild" class="form-label"
                    >Child (2-11 Yrs)</label
                  >
                  <input
                    id="noOfChild"
                    name="noOfChild"
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    formControlName="noOfChild"
                    tabindex="8"
                    trimmed
                  />
                </div>
              </div>
              <div class="col-sm-9 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="noOfInfant" class="form-label"
                    >Infant (0-2 Yrs)</label
                  >
                  <input
                    id="noOfInfant"
                    name="noOfInfant"
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    formControlName="noOfInfant"
                    tabindex="9"
                    trimmed
                  />
                </div>
              </div>
              <div class="col-sm-9 col-md-3 col-lg-3">
                <div class="form-check-inline mt-5">
                  <input
                    id="economy"
                    type="radio"
                    value="Economy"
                    name="classType"
                    formControlName="classType"
                    tabindex="10"
                    class="form-check-input"
                  />
                  <label for="economy" class="form-check-label">Economy</label>
                </div>
                <div class="form-check-inline mt-5">
                  <input
                    id="business"
                    type="radio"
                    value="Business"
                    name="classType"
                    formControlName="classType"
                    tabindex="11"
                    class="form-check-input"
                  />
                  <label for="business" class="form-check-label"
                    >Business</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                  tabindex="12"
                  [disabled]="!flightFormGroup.valid"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <code>
      <pre>{{ searchResult | json }}</pre>
    </code>
  </div>
</div>
